/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Playfair+Display');
img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
body{
  /* background-color: rgb(114, 169, 206); */
  margin: 0px;
  font-family: Playfair display;
  font-weight: bold;
}
.intro{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  font-family: Playfair display;
  font-size: 20px;
}
/* h1{
  font-size: 36px;
  margin:20px;
  margin-bottom: 50px;
} */
#border{
  border: 0.1px solid;
}
#heading{
  display:flex;
  justify-content:center;
  align-items:center;
  background: rgba(27, 94, 194, 0.973);
  margin: 0px;
  padding: 10px;
  color:white;
}
#recruiter{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}
#checkbox{
  display:flex;
  justify-content:center;
  align-items:center;
}
